@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Cormorant", serif;
}
body {
  height: 90vh;
  /* background-image: linear-gradient(to right, #74c0fc, #1864ab); */
  background: #2d033b;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.tracker {
  border: 4px solid rgba(255, 255, 255, 0.23);
  padding: 20px 15px;
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.tracker h2 {
  text-align: center;
  font-size: 3.4rem;
  color: #f4b005;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.progress-result {
  font-size: 4rem;
  font-weight: 900;
  color: #ffe8cc;
  /* height: 40px;
  width: 40px; */
  display: flex;
  align-items: center;
}
.progress {
  height: 6px;
  width: 70%;
  border: 4px solid rgba(255, 255, 255, 0.23);
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #fff4e6;
  margin-top: 20px;
}
.progress--bar {
  border: 3px solid #f4b005;
  border-radius: 20px;
}

.container {
  max-width: 100%;
  width: 372px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 20rem auto;
  background-image: linear-gradient(to right, #810ca8, #c147e9);
  border-radius: 10px;
  position: relative;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: black;
  color: #000;
}
#title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: clamp(2rem, 6vw, 6rem);
  background: #f0f0f0;
  color: transparent;
  background-clip: text;
}
input[type="text"] {
  width: 100%;
  line-height: 2;
  padding-inline: 1rem;
  font-size: 1.8rem;
  border-radius: 10px;
  border: 0;
  color: #555;
  border: none;
  background-color: #ddd;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #810ca8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#form {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}
#form button {
  padding: 0.8rem 1.9rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  background-color: #2b8a3e;
  font-weight: 700;
  color: #fff;
  border: 0;
  cursor: pointer;
}

li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(85, 85, 85, 0.3);
  padding: 10px 20px;
  border-radius: 20px;
}
li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  outline: 3px solid #e599f7;
  cursor: pointer;
  border-radius: 50%;
}
li input[type="checkbox"]:checked {
  background-color: #ddd;
  transform: scale(1.1);
  border: 3px solid #2b8a3e;
  outline-offset: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li input[type="checkbox"]:checked::before {
  content: "\2713";
  color: #2b8a3e;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.text {
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffe8cc;
  text-transform: capitalize;
}
.btn-container {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.btn-container button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.23);
  cursor: pointer;
}
.btn-container button:first-child {
  background-color: #2b8a3e;
  color: #fff;
}
.btn-container button:last-child {
  background-color: #c92a2a;
}

/* hidden modal form */
.hidden {
  display: none;
}

.icon {
  height: 18px;
  width: 18px;
}

@media (max-width: 420px) {
  .container {
    margin: 20% auto;
    word-wrap: break-word;
  }
  body {
    padding: 20px;
  }
  .btn-container button {
    height: 32px;
    width: 32px;
  }
  .icon {
    height: 14px;
    width: 14px;
  }
  .text {
    font-size: 1.8rem;
  }
}
